    <!-- MAIN CONTENT-->

    <!--    <div class="main-content">
      <h1 class="text-danger">Products</h1>
      <hr><br>
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3" *ngFor="let product of products">
              <div class="product-box">
                <a href="product-detail.html">
                  <img src="{{product.imageUrl}}" class="img-responsive">
                </a>
              </div>

            </div> 

          </div>
        </div>
      </div>
    </div>-->

    <!-- END MAIN CONTENT-->





    <!-- Original product-list  -->
    <!-- <section class="all__products" style="margin-top: 100px;">
      <div class="row">
        <div class="col-lg-4" *ngFor="let product of products">
          <div class="card">
        

            <img class="images" src="{{product.imageUrl}}" alt="{{product.name}}" />
            <div class="card-body">
              <p class="card-title"><b>Product Name: </b>{{product.name}}</p>
              <p class="card-text">
                <b>Product SKU: </b>{{product.sku}}
                <b>Description:</b> {{product.description}} <br />
                <b>Price:</b> ${{product.unitPrice}} <br />
                <b>Unit In Stock:</b> {{product.unitInStock}} <br />
                <b>Active:</b> {{product.active}} <br />
                <b>Product Image:</b> {{product.imageUrl}} <br />  
                <b>Created Date:</b> {{product.dateCreated | date}} <br />
                <b>Update Date:</b> {{product.dateUpdated}} <br />
              </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->
